body{
    font-size: 40px;
    color: #010101;
    background: radial-gradient(#edf1cf, #43acb4);

}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 50px;
    padding-bottom: 50px;
}
.header{
    width: 100%;
    height: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #37ecba, #72afd3);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;
}
.title{
    font-size: 50px;
    color: rgb(41, 67, 62) ;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid rgb(41, 67, 62) ;
}