body {
  font-size: 40px;
  color: #010101;
  background: radial-gradient(#edf1cf, #43acb4);
  padding: 25px 50px;
  height: 100vh;
}

.bodyBook {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
