.form {
  padding: 20px;
  border: 1px solid gray;
  align-items: center;
  background-color: navajowhite;
}

.labelName {
  margin: 0 0 10px;
}

.inputs {
  justify-content: space-between;
}


.button {
  width: 100px;
  display: block;
  padding: 3px 10px;
  background-color: white;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(253, 245, 230, 0.6);
}
