.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.phonebook_form {
  padding: 50px;
  background-color: aliceblue;
  width: 1000px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
.phonebook_form:last-child {
  margin-top: 50px;
}
