.nav {
  margin-left: auto;
  padding-right: 16px;
  gap: 20px;
}

.active {
  font-weight: 900;
  text-decoration: none;
}
.inactive {
  text-decoration: none;
  font-weight: 400;
}

.brand {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.icon {
  width: 40px;
  height: 40px;
}
